[Desktop Entry]
Type=Application
Name=TomatoClock
Comment=Simple pomodoro timer built with PyQt6
Exec=TomatoClock
Icon=TomatoClock
Terminal=false
Categories=Office;Utility;Productivity;
StartupNotify=true
